<div class="container">
<mat-card *ngFor="let shopowner of shopowners" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img mat-card-image [src]="" alt="">
      </div>
      <mat-card-title class="title">{{shopowner.name}}</mat-card-title>
      <mat-card-subtitle class="subtitle">{{ shopowner.location.city }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="shopowner.image" alt="{{ shopowner.name }}">
    <mat-card-content>
      <p class="para">{{shopowner.discription}} </p>
      <p class="location">
        "{{shopowner.location.address}}, {{shopowner.location.city}}, {{shopowner.location.country}}"
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button> -->
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <!-- <button mat-button>SHARE</button> -->
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
  