<div class="background">
 <div>
    <mat-grid-list cols="5" rowHeight="600px" gutterSize="10px">
      <mat-grid-tile colspan="3">
        <div class="sub-heading">
          <div>
            <h1  class="main-heading">Coffee World</h1>
            </div>
          <p class="para1">"Ignite your mornings with the perfect blend of passion and flavor. Coffee that inspires, one sip at a time."</p>
          <p class="para2">"Indulge in the timeless allure of coffee, where every sip takes you on a journey through rich, aromatic landscapes. 
            Crafted from the finest beans, each cup brims with a symphony of flavors, awakening your senses and invigorating your soul. 
            <!-- Whether it's the first light of dawn or a serene afternoon break, our coffee transforms ordinary moments into extraordinary 
            experiences. Embrace the warmth, relish the depth, and savor the essence of pure coffee bliss." -->
          </p>
          <p class="para1">"Coffee fuels our creativity and sharpens our focus, making each day more productive and inspired. 
            It's not just a drink; it's a vital part of our daily ritual and well-being."
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <!-- <div class="video-container" (mouseenter)="playVideo()" (mouseleave)="pauseVideo()">
          <video #hoverVideo muted>
            <source src="../../assets/Coffeevideo1.mp4" type="video/mp4">
          </video>
        </div> -->
        
      </mat-grid-tile>
  </mat-grid-list>
</div> 
</div>
  
  <router-outlet></router-outlet>
